node_modules

# TODO unignore this to support yarn zero-installs
.yarn/cache

# local optimisation file
.yarn/install-state.gz
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
# module cache - need to unignore this to support yarn zero-installs
!.yarn/cache
# maps for node to find packages - need to unignore this to support yarn zero-installs
.pnp.*

yarn-error.log
tsconfig.tsbuildinfo
dist/

# machine-specific files - may need to unignore this to support yarn zero-installs
.yarn/unplugged

# Mac OS X
.DS_Store

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack


